
.animate{
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.animateBg{
    -webkit-transition:background-color 1s ease-in-out;
    -moz-transition:background-color 1s ease-in-out;
    -o-transition:background-color 1s ease-in-out;
    transition:background-color 1s ease-in-out}
.animateHeight{
    -webkit-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    -o-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out}
.animateOpacity{
    -webkit-transition:opacity .6s ease-in-out;
    -moz-transition:opacity .6s ease-in-out;
    -o-transition:opacity .6s ease-in-out;
    transition:opacity .6s ease-in-out}
.animate-fast{
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.clear:after {
    content: "";
    display:block;
    clear: both;
    zoom: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 13px;
}

.stepform .img-thumbnail {
    transition: none;
}

.form-control {
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
}

.form-control.half {
    width:100%;
    display:block;
}

.form-control.half {
    width:50%;
    display:inline-block;
}

.form-control.small {
    width:20%;
    display:inline-block;
}

input.error, .form-control.error {
    border-color: red !important;
}

/* Header */
header nav > ul > li, 
.custom-select-wrap {
    display:inline-block;
    position: relative;
}


header,
.custom-select-wrap .drop-box .item, 
header nav > ul > li a, 
.headbanner,
.separator {
    display:block;
    position: relative;
}

header a.logo, 
.centered, 
.custom-select-wrap .drop-box, 
.custom-select-label,
.custom-select-wrap.busy:after {
    display:block;
    position: absolute;
}

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
}

/* Centered Element */
.centered {
    left: 50%;
    top:50%;
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.separator {
    height:1px;
    clear: both;
    margin: 15px 0;
    background-color: #dedede;;
}
.separator:after {
    content: "";
    display:block;
    position: absolute;
    bottom:-1px;
    left:0px;
    right:0px;
    height:1px;
    background-color: #fff;
}

.separator.black {
    background-color:#000; 
}

.padd {
    padding: 15px;
}

.nopadd {
    padding-left: 0;
    padding-right: 0;
}

/* Main logo */
header a.logo {
    top:0px;
    left:0px;
    z-index: 2;
    padding: 0;
    line-height: 0;
}

header a.logo img {
    max-width: 300px;
    max-height:150px;
}

header a.logo.small {
    left:0px;
    top:0px;
    padding:0px;
}

header a.logo.small img {
    max-width: 300px;
    max-height:48px;
}


/* Main Nav */
header nav {
    display: block;
    background-color: #0078d7;
}
header nav > ul {
    display:block;
    padding:0;
    margin:0 auto;
    max-width: 1200px;
}
header nav > ul > li {
    margin:0;
    padding:0;
    list-style: none;
}
header nav > ul > li a {
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}
header nav > ul > li a.active,
header nav > ul > li a:active,
header nav > ul > li a:focus,
header nav > ul > li a:hover {
    text-decoration: none;
    color: #98d2ff;
}

.status-info, .redirect {
    font-size: 13px;
    display:block;
    padding: 20px 0;
}

.redirect {
    padding:5px 20px;
    background: #fae2b6;
    color: #555;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
}

#countdown {
    font-weight: 600;
}

footer {
    display:block;
    position: relative;
    border-top: solid 1px #ccc;
    margin-top:40px;
}

.footer-wrap {
    display:block;
    position: relative;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.footer-wrap .logo {
    float:left;
}

.footer-wrap a {
    cursor: pointer;
}

.footer-links {
    display:block;
    position: relative;
    text-align: right;
    clear: both;
}

.footer-links a {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color:#444;
    font-weight: 300;
    margin-left: 15px;
}

/* editor --------------------------------------------------------------------- */


.form-separator {
    display:block;
    position: relative;
    width:94%;
    margin: 40px auto;
    border-bottom: dashed 1px #b5b5b5;
}


.btn-btn {
    display:inline-block;
    padding: 5px 30px;
    font-size:14px;
    font-weight: 400;
    color:#333;
    border:solid 1px #444;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #f1f1f1;
    outline: none;
    cursor: pointer;
    margin-left:10px;
    margin-bottom: 10px;
    border-color: transparent;
}

.btn-btn i.fa {
    display:inline-block;
    margin-right: 7px;
}

.btn-btn:hover {
    border-color: #0078d7;
    background: #0078d7;
    color: #fff;
}

input:disabled {
    background: #c5c5c5;
    border: solid 1px #c3c3c3;
    color: #fff;
}

.btn-btn:disabled {
    background: #eee;
    opacity: 0.4;
    color:#333;
    border: solid 1px #eee;
}
.btn-btn:hover:disabled {
    background: #eee;
    opacity: 0.4;
    color:#333;
    border: solid 1px #eee;
}
