
.animate{
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.animateBg{
    -webkit-transition:background-color 1s ease-in-out;
    -moz-transition:background-color 1s ease-in-out;
    -o-transition:background-color 1s ease-in-out;
    transition:background-color 1s ease-in-out}
.animateHeight{
    -webkit-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    -o-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out}
.animateOpacity{
    -webkit-transition:opacity .6s ease-in-out;
    -moz-transition:opacity .6s ease-in-out;
    -o-transition:opacity .6s ease-in-out;
    transition:opacity .6s ease-in-out}
.animate-fast{
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.clear:after {
    content: "";
    display:block;
    clear: both;
    zoom: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 13px;
}

.stepform .img-thumbnail {
    transition: none;
}

.form-control {
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
}

.form-control.half {
    width:100%;
    display:block;
}

.form-control.half {
    width:50%;
    display:inline-block;
}

.form-control.small {
    width:20%;
    display:inline-block;
}

input.error, .form-control.error {
    border-color: red !important;
}

/* Header */
header nav > ul > li, 
.custom-select-wrap {
    display:inline-block;
    position: relative;
}


header,
.custom-select-wrap .drop-box .item, 
header nav > ul > li a, 
.headbanner,
.separator {
    display:block;
    position: relative;
}

header a.logo, 
.centered, 
.custom-select-wrap .drop-box, 
.custom-select-label,
.custom-select-wrap.busy:after {
    display:block;
    position: absolute;
}

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
}

/* Centered Element */
.centered {
    left: 50%;
    top:50%;
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.separator {
    height:1px;
    clear: both;
    margin: 15px 0;
    background-color: #dedede;;
}
.separator:after {
    content: "";
    display:block;
    position: absolute;
    bottom:-1px;
    left:0px;
    right:0px;
    height:1px;
    background-color: #fff;
}

.separator.black {
    background-color:#000; 
}

.padd {
    padding: 15px;
}

.nopadd {
    padding-left: 0;
    padding-right: 0;
}

/* Main logo */
header a.logo {
    top:0px;
    left:0px;
    z-index: 2;
    padding: 0;
    line-height: 0;
}

header a.logo img {
    max-width: 300px;
    max-height:150px;
}

header a.logo.small {
    left:0px;
    top:0px;
    padding:0px;
}

header a.logo.small img {
    max-width: 300px;
    max-height:48px;
}


/* Main Nav */
header nav {
    display: block;
    background-color: #0078d7;
}
header nav > ul {
    display:block;
    padding:0;
    margin:0 auto;
    max-width: 1200px;
}
header nav > ul > li {
    margin:0;
    padding:0;
    list-style: none;
}
header nav > ul > li a {
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}
header nav > ul > li a.active,
header nav > ul > li a:active,
header nav > ul > li a:focus,
header nav > ul > li a:hover {
    text-decoration: none;
    color: #98d2ff;
}


/* Editor */
.templates {
    display:none;
}

.pop-window {
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 250px;
    border: solid 1px #ccc;
    background: #fff;
    z-index: 101;
    -o-box-shadow: 0px 0px 7px 0px #a0a0a0;
    -moz-box-shadow: 0px 0px 7px 0px #a0a0a0;
    -ms-box-shadow: 0px 0px 7px 0px #a0a0a0;
    -webkit-box-shadow: 0px 0px 7px 0px #a0a0a0;
    -khtml-box-shadow: 0px 0px 7px 0px #a0a0a0;
    box-shadow: 0px 0px 7px 0px #a0a0a0;
}

.pop-window.big {
    width: 90%;
    height: 80%;
}

.pop-window.medium {
    width: 60%;
    height: 60%;
}

.pop-window.small {
    width: 40%;
    height: auto;
}

.pop-window .pop-title {
    display:block;
    padding:10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-bottom: solid 1px #e4e4e4;
}

.pop-window .pop-content {
    font-size: 13px;
    display:block;
    position: absolute;
    top: 30px;
    left:0px;
    right:0px;
    bottom:40px;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
}

.pop-window .pop-buttons {
    font-size: 13px;
    display:block; 
    position: absolute;
    bottom: 0px;
    left:0px;
    right:0px;
    padding: 10px;
    text-align: right;
}

.pop-window .pop-buttons button {
    display:inline-block;
    position: relative;
    padding: 5px 25px;
    border: none;
    background: #0480be;
    color:#fff;
    border: solid 1px #0480be;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.pop-window .pop-buttons button:hover {
    background: #ffb100;
    color:#000;
    border: solid 1px #a2750f;
}

.pop-window .pop-content .form-group {
    margin-bottom: 15px;
}

.pop-window .pop-content .form-group label {
    display:block;
}

.pop-window .pop-content .form-group input {
    border: solid 1px #ccc;
}

.pop-window .pop-content .form-group input[type=file],
.pop-window .pop-content .form-group input[type=text],
.pop-window .pop-content .form-group input[type=email],
.pop-window .pop-content .form-group input[type=phome],
.pop-window .pop-content .form-group input[type=integer],
.pop-window .pop-content .form-group input[type=url]{
    display:block;
    position: relative;
    width: 100%;
    padding: 5px 6px;
}

.pop-window .pop-content .form-group input[type=file] {
    border: none;
}

.pop-window .pop-content .form-group input:read-only {
    background: #f7f7f7;
    border: solid 1px #dcdcdc;
}

.pop-window .pop-content .form-group input.error {
    border: solid 1px red;
}

.pop-window .img-prev {
    position: relative;
    margin-top:20px;
}

.status-info, .redirect {
    font-size: 13px;
    display:block;
    padding: 20px 0;
}

.redirect {
    padding:5px 20px;
    background: #fae2b6;
    color: #555;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
}

#countdown {
    font-weight: 600;
}

footer {
    display:block;
    position: relative;
    border-top: solid 1px #ccc;
    margin-top:40px;
}

.footer-wrap {
    display:block;
    position: relative;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.footer-wrap .logo {
    float:left;
}

.footer-wrap a {
    cursor: pointer;
}

.footer-links {
    display:block;
    position: relative;
    text-align: right;
    clear: both;
}

.footer-links a {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color:#444;
    font-weight: 300;
    margin-left: 15px;
}

/* editor --------------------------------------------------------------------- */

.editor-container {
    padding-top: 20px;
    padding-bottom: 100px;
    min-height: 800px;
}

.btn-wrap {
    display:block;
    position: relative;
    margin:auto;
    padding: 25px 0 25px 0;
}

@media (min-width: 1200px) {
    .container.editor-container {
        width: 100% !important;
    }
}

.editor-wrap {
    display:block;
    position: relative;
    margin: 30px 0;
    border: solid 1px #ccc;
    margin:auto;
}

.editor-controlls {
    display: block;
    position: relative;
    
    border-bottom: none;
}
.editor-controlls ul {
    display:block;
    position: relative;
    margin:0;
    padding:0;
    list-style-type: none;
}
.editor-controlls ul li {
    display:block;
    position: relative;
    width: 72px;
    height:36px;
    margin-top:-1px;
    margin-left:-1px;
    float:left;
    cursor: pointer;
    color: #2f97b9;
}
.editor-controlls ul li:hover, .editor-controlls ul li.active {
    background: #62c0f1;
    color: white;
}

.editor-controlls ul li.disabled {
    pointer-events: none;
    opacity: 0.3;
    background: #eee;
    cursor: default;
    color:#666;
}

.editor-controlls ul li .fa {
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.editor {
    display:block;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    resize: none;
    border-top: solid 1px #ccc;
    outline: none;
}
.editor:focus {
    outline: none;
}
.editor .selection-text {
    background: #0480be;
    color:#fff;
}

.form-separator {
    display:block;
    position: relative;
    width:94%;
    margin: 40px auto;
    border-bottom: dashed 1px #b5b5b5;
}

.editor .group-element .editable-img {
    width:100%;
    height: 100%;
}

.editor .group-element {
    display:block;
    position: absolute !important;
    top:0px;
    left:0px;
    border: dotted 1px transparent;
    z-index:5;
    resize: both;
    cursor: default;
}

.editor .group-element.active {
    border-color: red;
}

.editor-text {
    width:100%;
    min-height: 200px;
}

.editor-footer {
    position: relative;
    border-top:solid 1px #ccc;
    padding: 10px;
    font-size:13px;
}

.editor-footer .ef {
    display:inline-block;
    width: 130px;
    padding: 5px 15px 5px 5px;
}

.editor-footer .ef label {
    display:block;
    font-size:12px;
}

.pin {
    display:block !important;
    position: absolute !important;
    width:auto !important;
    height:auto !important;
    top:50% !important;
    -o-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -khtml-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    right: 20px !important;
    cursor: pointer !important;
}

.pinstart {
    left:auto;
    right:auto;
    bottom:auto;
    top:auto;
    padding-right: 160px;
}

.pinstate {
    position: fixed !important;
    z-index: 100 !important;
    left:0px;
    right:0px;
    background: #fff;
}

.pinstate.pinbottom {
    bottom:0px;
}

.pinstate.pintop {
    top:0px;
    border-bottom: solid 1px #ccc;
}

.resolution {
    display:block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:40px;
}

.resolution select, .select {
    padding: 2px;
    border: solid 0px #a9a9a9;
    background: #fff;
    box-shadow: none;
    outline: none;
    margin-top: -1.5px;
    font-size: 13px;
}

.ef-section {
    display:block;
    position: relative;
}

.ef .efr, .ef .efl {
    display:inline-block;
    position: relative;
    font-size:19px;
    line-height: 16px;
    margin: 0 5px;
    cursor: pointer;
    top: 2px;
}

.ef .efr:hover , .ef .efl:hover {
    color:red;
}

.ef .efr {
    margin-right: 0px;
    margin-left:5px;
}
.ef .efl {
    margin-right: 7px;
    margin-left:0;
}

.grid {
    display:block;
    position: absolute;
    top:0px;
    bottom:0px;
    width:1px;
    background: #000;
    z-index:100;
    opacity: 0.4;
}
.grid.vertical {
    top:auto;
    left:0px;
    height:1px;
    bottom:auto;
    width:100%;
}
.grid.white {
    background: #fff;
}
.grid.yellow {
    background: #ffcc00;
}
.grid.red {
    background: #ff3333;
}
.grid.green {
    background: #99cc00;
}
.grid.blue {
    background: #00ccff;
}
.grid.gray {
    background: #ccc;
}

.btn-btn {
    display:inline-block;
    padding: 5px 30px;
    font-size:14px;
    font-weight: 400;
    color:#333;
    border:solid 1px #444;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #f1f1f1;
    outline: none;
    cursor: pointer;
    margin-left:10px;
    margin-bottom: 10px;
    border-color: transparent;
}

.btn-btn i.fa {
    display:inline-block;
    margin-right: 7px;
}

.btn-btn:hover {
    border-color: #0078d7;
    background: #0078d7;
    color: #fff;
}

input:disabled {
    background: #c5c5c5;
    border: solid 1px #c3c3c3;
    color: #fff;
}

.btn-btn:disabled {
    background: #eee;
    opacity: 0.4;
    color:#333;
    border: solid 1px #eee;
}
.btn-btn:hover:disabled {
    background: #eee;
    opacity: 0.4;
    color:#333;
    border: solid 1px #eee;
}

.loader {
    display:block;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    bottom: 0px;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.96) url(../img/layout/loader.gif) center center no-repeat;
    background-position-x: center;
    background-position-y: 50px;
}

.mask-controls {
    display:block;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: rgba(255,255,255,0.75);
    z-index:20;
}

.list-item-table {
    width:100%;
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

.list-item-table th, .list-item-table td {
    padding: 5px 5px;
}
.list-item-table th {
    background: #eee;
}
.list-item-table tr:nth-child(odd) td{
    background: #fff;
}
.list-item-table tr:nth-child(even) td{
    background: #fdfdfd;
}

.list-item-table td a {
    color: inherit;
}

.list-item-table td:last-child, 
.list-item-table th:last-child {
    text-align: center;
}